<nav class="teal">
<div class="nav-wrapper">
  <ul id="nav-mobile" class="left hide-on-med-and-down">
    <li><a href="/events/<%= @event.user_id %>">Events Dashboard</a></li>
    <li><a href="/sessions/logout">Log out</a></li>
  </ul>
</div>
</nav>
<div class="row">
	<div class="col s6 z-depth-4">
		<h3>Event Name: <%= @event.name %></h3>
		<h3>Host: <%= @event.user.first_name %> <%= @event.user.last_name %></h3>
		<h3>Date: <%= @event.date %></h3>
		<h3>Location: <%= @event.location %>, <%= @event.state %></h3>
		<p>Number of people joining the event: <%= @event.attends.count %></p>
	</div>
</div>

<div class="row">
<table class="highlight col s6 z-depth-4">
	<th>
		<tr>
			<th>Name</th>
			<th>Location</th>
			<th>State</th>
		</tr>
	</th>
	<tbody>
	<% @attends.each do |a| %>
		<tr>
			<td><%= a.user.first_name %> <%= a.user.last_name %></td>
			<td><%= a.user.city %></td>
			<td><%= a.user.state %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>

<h3>Discussion about this event:</h3>
<div id="comments">
<% @comments.each do |c| %>
	<p><%= c.user.first_name%> says: <%= c.comment %></p>
	<p>.............................</p>
	<% end %>
</div>

<div class="row">
	<form action="/comments" method="post" class="col s6">
	 <div class="row">
        <div class="input-field col s12">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="event_id" value="<%= @event.id %>">
			<label for="textarea1">Textarea</label>
			<p><textarea name="comment" textarea id="textarea1" class="materialize-textarea"></textarea></p>
			<input type="submit" value="Submit Comments" class="btn">
		</div>
	</div>
	</form>
</div>


